<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<footer class="footer">
    <hr>
    <div class="div-center">
        Socials and contacts: 
        <a class="social-btn" href="mailto: {{ site.email }}"><i class="fa-solid fa-envelope"></i></a>
        <a class="social-btn" href="https://github.com/piercirocaliandro"><i class="fa-brands fa-github"></i></a>
        <a class="social-btn" href="https://www.linkedin.com/in/pierciro-caliandro-058444183/"><i class="fa-brands fa-linkedin"></i></a>
        <br>
        @Copyright Pierciro Caliandro 2023-2023 <br>
        {{ site.description }}
    </div>
</footer>

