<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/93b5f8ce4c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        {% for item in site.data.navigation %}
            {% if item.name == page.title %}
            <a href="{{ item.link }}" class="active">{{ item.name }}</a>
            {% else %}
            <a href="{{ item.link }}">{{ item.name }}</a>
            {% endif %}
        {% endfor %}

        <!--
        <div class="topnav_right">
                <a class="btn" href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn" href="https://github.com/piercirocaliandro"><i class="fa-brands fa-github"></i></a>
                <a class="btn" href="https://www.linkedin.com/in/pierciro-caliandro-058444183/"><i class="fa-brands fa-linkedin"></i></a>
                <a class="btn" href="/feed.xml"><i class="fa-solid fa-square-rss"></i></a>
        </div>
        -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="toggle-div">
        <button id="mode">
            <i class="fa-solid fa-moon"></i>
        </button>
    </div>
    <script src="/assets/js/navbar_toggle.js"></script>
    <script src="/assets/js/toggle.js"></script>
</body>
