<!doctype html>
<html>
  <head>
    <meta charset="UFT-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}

    <div>
        <h2>Education</h2>
        <h3>2020/10 - 2023/04 | Master's Degree</h3>
        <h6><i class="fa-solid fa-location-dot"></i> University of Roma Tor Vergata</h6>
        <ul class="ul-no-bullets">
            <li> <b>Major</b>: Computer and Information Engineering. Hybrid path between 'classical' computer engineering and cybersecurity </li>
            <li> <b>Final mark</b>: /110 </li>
            <li> <b>Final thesis</b>: <i>Intellectual property preservation through code obfuscation</i> ( <a href="assets/msthesis.pdf"><i class="fa-solid fa-file-pdf"></i></a> ) </li>
        </ul>

        <h3>2017/09 - 2020/10 | Bachelor's Degree</h3>
        <h6><i class="fa-solid fa-location-dot"></i> University of Roma Tor Vergata</h6>
        <ul class="ul-no-bullets">
            <li> <b>Major</b>: Computer and Information Engineering </li>
            <li> <b>Final mark</b>: 110/110 </li>
        </ul>

        <br>

        <h2>Work experience</h2>
        <h3>2022/11 - Present | Cybersecurity Consultant</h3>
        <h6><i class="fa-solid fa-location-dot"></i> Spike Reply (Rome, Italy) </h6>
        Working on PAM and IAM software installation, monitoring and support.<br> 
        <b>Tools and technologies</b>: OneIdentity Manager, CyberArk EPM, CyberArk PAM
    </div>

    {% include footer.html %}
  </body>
</html>
