<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="div-justify"> 
        {% if site.categories.projects > 1 %}
        <h1>Projects</h1>
        <ul class="fa-ul">
            {% for post in site.categories.projects %}
                <li id="li_size"><span class="fa-li"><i class="fa-solid fa-desktop" style="font-size:30px;"></i></span>
                    <a href="{{ post.url }}" class="postlink">{{ post.title }}</a>
                    <p class="post-p">- {{ post.date | date_to_string }} - |  <a href="{{ post.url }}" class="readmore-btn"><i class="fa-solid fa-book-open-reader"></i>  read more</a> </p>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% include wip.html %}
        {% endif %}
    </div>

    {% include footer.html %}
  </body>
</html>
